.item img {
    border-radius: 1em  !important;
    pointer-events: none;  
}
.item {
    min-height: 16rem !important;
    min-width: 16rem !important;
    padding: 40px !important;
    }

/* .inner-carousel {
    display: flex;
} */
.carousel {
    cursor: grab;
    overflow: hidden;
}
.text-sm-location {
    font-size: 10px;
    display: flex;
    padding: 0;
}
@media screen and (min-width: 666px) {
    .item {
        min-height: 16rem !important;
        min-width: 16rem !important;
        padding: 40px !important;
        }
        .item img {
            width: 100%  !important;
            height: 100%  !important;
            border-radius: 2em  ;
            pointer-events: none;
        }
  }